In [1]:
import json
import pandas as pd

In [2]:
with open('matches.json', 'r') as test_js:
    j_data = test_js.read()

In [3]:
df = pd.read_json(j_data)

In [4]:
# df = df.drop('ft_score', axis=1)
# df = df.drop('year', axis=1)
# df = df.drop('day', axis=1)
# df = df.drop('ht_score', axis=1)
# df = df.drop('country', axis=1)
# df = df.drop('month', axis=1)
# df = df.drop('tournament', axis=1)

In [5]:
# output = pd.DataFrame(index=df.index)
# for col, col_data in df.iteritems():
#     if col_data.dtype == object:
#         col_data = pd.get_dummies(col_data, prefix = col)
#     output = output.join(col_data)

In [6]:
# month = df['month'].astype('str')

In [7]:
# bools = []
# for name in df.host:
#     if name == 'U. Cluj':
#         bools.append(True)
#     else:
#         bools.append(False)
# is_lenght = pd.Series(bools)
# df[is_lenght]

In [8]:
df['ht score difference'] = [abs(int(x.split(':')[0]) - int(x.split(':')[1])) for x in df['ht_score']]

In [9]:
df.head()

,year,month,day,country,tournament,host,guest,ht_score,ft_score,broken,ht score difference
0,2019,2,26,ALGERIA,ALGERIA: LIGUE 2,Harrach,RC Kouba,0:0,0:2,0,0
1,2019,2,26,ANGOLA,ANGOLA: GIRABOLA,Kabuscorp,Cubango,1:0,3:2,0,1
2,2019,2,26,ARGENTINA,ARGENTINA: SUPERLIGA,Newells Old Boys,San Martin S.J.,1:0,3:0,0,1
3,2019,2,26,ARGENTINA,ARGENTINA: PRIMERA B NACIONAL,Temperley,Ferro,0:1,2:2,0,1
4,2019,2,26,ARGENTINA,ARGENTINA: PRIMERA B METROPOLITANA,Barracas Central,Dep. Riestra,1:0,1:0,0,1

In [10]:
# bools = []
# for name in df.tournament:
#     if name == 'ITALY: SUPERCOPPA PRIMAVERA':
#         bools.append(True)
#     else:
#         bools.append(False)
# is_lenght = pd.Series(bools)
# df[is_lenght]#[['host', 'guest', 'broken']]#.value_counts()

In [11]:
# df['country'].value_counts()

In [12]:
eu_countries = ['RUSSIA', 'GERMANY', 'ENGLAND', 'FRANCE', 'ITALY', 'SPAIN', 'UKRAINE', 'POLAND', 'ROMANIA',
                'NETHERLANDS', 'BELGIUM', 'GREECE', 'CZECH REPUBLIC', 'PORTUGAL', 'SWEDEN', 'HUNGARY', 'BELARUS',
                'AUSTRIA', 'SERBIA', 'SWITZERLAND', 'BULGARIA', 'DENMARK', 'FINLAND', 'SLOVAKIA', 'NORWAY', 'IRELAND',
                'CROATIA', 'MOLDOVA', 'BOSNIA AND HERZEGOVINA', 'ALBANIA', 'LITHUANIA', 'SLOVENIA', 'LATVIA', 'ESTONIA',
                'MONTENEGRO', 'LUXEMBOURG', 'MALTA', 'ICELAND', 'ANDORRA', 'MONACO', 'LIECHTENSTEIN', 'SAN MARINO',
                'GIBRALTAR', 'NORTHERN IRELAND', 'SCOTLAND', 'NORTH MACEDONIA', 'KOSOVO', 'WALES', 'FAROE ISLANDS']
eu_tournament = ['EUROPE']
asia_countries = ['MALDIVES', 'MYANMAR', 'PALESTINE', 'CHINA', 'INDIA', 'INDONESIA', 'PAKISTAN', 'BANGLADESH', 'JAPAN', 
                  'PHILIPPINES', 'VIETNAM', 'TURKEY',
                  'IRAN', 'THAILAND', 'MAYANMAR', 'SOUTH KOREA', 'IRAQ', 'AFGHANISTAN', 'SAUDI ARABIA', 'UZBEKISTAN', 
                 'MALAYSIA', 'NEPAL', 'YEMEN', 'NORTH KOREA', 'SRI LANKA', 'KAZAKHSTAN', 'SYRIA', 'CAMBODIA', 'JORDAN', 
                 'AZERBAIJAN', 'UNITED ARAB EMIRATES', 'TAJIKISTAN', 'ISRAEL', 'LAOS', 'KYRGYZSTAN', 'LEBANON', 
                 'TURKMENISTAN', 'SINGAPORE', 'OMAN', 'KUWAIT', 'GEORGIA', 'MONGOLIA', 'ARMENIA', 'QATAR', 'BAHRAIN', 
                 'CYPRUS', 'BHUTAN', 'MALEDIVES', 'BRUNEI', 'HONG KONG']
asia_tournament = ['ASIA']
n_america_countries = ['USA', 'BERMUDA', 'MEXICO', 'CANADA', 'GUATEMALA', 'CUBA', 'HAITI', 'DOMINICAN REPUBLIC', 
                       'HONDURAS', 'EL SALVADOR', 'NICARAGUA', 'COSTA RICA', 'PANAMA', 'PUERTO RICO', 'JAMAICA', 
                       'TRINIDAD AND TOBAGO', 'GUADELOUPE', 'MARTINIQUE', 'BAHAMAS', 'BELIZE', 'BARBADOS', 
                       'SAINT LUCIA']
north_america_tournament = ['NORTH & CENTRAL AMERICA']
s_america_countries = ['BRAZIL', 'COLOMBIA', 'ARGENTINA', 'PERU', 'VENEZUELA', 'CHILE', 'ECUADOR', 'BOLIVIA', 'PARAGUAY', 
                      'URUGUAY', 'GUYANA']
south_america_tournament = ['SOUTH AMERICA']
africa_countries = ['CAPE VERDE', 'RÉUNION', 'ESWATINI', 'REPUBLIC OF THE CONGO', 'NAMIBIA', 'MAURITIUS', 'IVORY COAST', 
                    'NIGERIA', 'ETHIOPIA', 'EGYPT', 'DR CONGO', 'TANZANIA', 'SOUTH AFRICA', 'KENYA', 'UGANDA', 'ALGERIA', 
                   'SUDAN', 'MOROCCO', 'ANGOLA', 'MOZAMBIQUE', 'GHANA', 'MADAGASCAR', 'CAMEROON', 'NIGER', 'BURKINA FASO', 
                   'MALAWI', 'MALI', 'ZAMBIA', 'ZIMBABWE', 'SENEGAL', 'CHAD', 'SOMALIA', 'GUINEA', 'SOUTH SUDAN', 'RWANDA', 
                   'BENIN', 'TUNISIA', 'BURUNDI', 'TOGO', 'SIERRA LEONE', 'LIBYA', 'CONGO', 'ERITREA', 'LIBERIA', 
                    'MAURITANIA', 'NAMBIA', 'BOTSWANA', 'LESOTHO', 'GAMBIA', 'GABON', 'DJIBOUTI', 'COMOROS', 'SEYCHELLES']
africa_tournament = ['AFRICA']
australia_countries = ['AUSTRALIA & OCEANIA', 'NEW ZEALAND', 'PAPUA NEW GUINEA', 'FIJI', 'MARSHALL ISLANDS',
                       'PALAU']
australia_tournament = ['AUSTRALIA']
world = ['WORLD']
world_club_friendly = ['WORLD: CLUB FRIENDLY']

In [13]:
df['region'] = ['africa' if n in africa_countries 
                else 'africa tournament' if n in africa_tournament
                else 'europa league' if n in eu_countries 
                else 'european tournament' if n in eu_tournament
                else 'asia league' if n in asia_countries
                else 'asia tournament' if n in asia_tournament
                else 'north america league' if n in n_america_countries
                else 'north america tournament' if n in north_america_tournament
                else 'south america league' if n in s_america_countries
                else 'south america tournament' if n in south_america_tournament
                else 'australia league' if n in australia_countries
                else 'australia tournament' if n in australia_tournament
                else 'world' if n in world
                else 0 for n in df['country']]

In [14]:
df[df['region'] == 0]

Empty DataFrame
Columns: [year, month, day, country, tournament, host, guest, ht_score, ft_score, broken, ht score difference, region]
Index: []

In [15]:
for col_name in df.columns:
    if df[col_name].dtype == 'object':
        unique_cat = len(df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(
            col_name=col_name, unique_cat=unique_cat))

Feature 'country' has 168 unique categories
Feature 'tournament' has 1096 unique categories
Feature 'host' has 15986 unique categories
Feature 'guest' has 15018 unique categories
Feature 'ht_score' has 75 unique categories
Feature 'ft_score' has 169 unique categories
Feature 'region' has 13 unique categories

In [16]:
hosts = pd.get_dummies(df['host'])
guests = pd.get_dummies(df['guest'])

In [17]:
hosts.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608403 entries, 0 to 608402
Columns: 15986 entries, 't Fean '58 to Šarišské Michalany
dtypes: uint8(15986)
memory usage: 9.1 GB

In [18]:
pack1 = hosts.loc[:100000, :].add(guests.loc[:100000, :], fill_value=0)#.astype('uint8')

In [19]:
pack2 = hosts.loc[100001:200000, :].add(guests.loc[100001:200000, :], fill_value=0)#.astype('uint8')

In [20]:
pack3 = hosts.loc[200001:300000, :].add(guests.loc[200001:300000, :], fill_value=0)#.astype('uint8')

In [21]:
pack4 = hosts.loc[300001:400000, :].add(guests.loc[300001:400000, :], fill_value=0)#.astype('uint8')

In [22]:
pack5 = hosts.loc[400001:500000, :].add(guests.loc[400001:500000, :], fill_value=0)#.astype('uint8')

In [23]:
pack6 = hosts.loc[500001:600000, :].add(guests.loc[500001:600000, :], fill_value=0)#.astype('uint8')

In [24]:
pack7 = hosts.loc[600001:, :].add(guests.loc[600001:, :], fill_value=0)#.astype('uint8')

In [ ]:
pack1_dict = pack1.to_dict(orient='split')

In [ ]:
pack2_dict = pack2.to_dict(orient='split')

In [ ]:
pack3_dict = pack3.to_dict(orient='split')

In [ ]:
pack4_dict = pack4.to_dict(orient='split')

In [ ]:
pack5_dict = pack5.to_dict(orient='split')

In [ ]:
pack6_dict = pack6.to_dict(orient='split')

In [ ]:
pack7_dict = pack7.to_dict(orient='split')

In [ ]:
pack1_dict['index'].extend(pack2_dict['index'])
pack1_dict['data'].extend(pack2_dict['data'])

In [ ]:
pack1_dict['index'].extend(pack3_dict['index'])
pack1_dict['data'].extend(pack3_dict['data'])

In [ ]:
pack1_dict['index'].extend(pack4_dict['index'])
pack1_dict['data'].extend(pack4_dict['data'])

In [ ]:
pack1_dict['index'].extend(pack5_dict['index'])
pack1_dict['data'].extend(pack5_dict['data'])

In [ ]:
pack1_dict['index'].extend(pack6_dict['index'])
pack1_dict['data'].extend(pack6_dict['data'])

In [ ]:
pack1_dict['index'].extend(pack7_dict['index'])
pack1_dict['data'].extend(pack7_dict['data'])

In [ ]:
pack1_json = json.dumps(pack1_dict)

In [ ]:
with open('comps_dummies.json', 'w') as comps_dummies:
    comps_dummies.write(pack1_json)
comps_dummies.close()

In [157]:
# col = {}
# for n in comps.values:
#     list1 = []
#     for m in comps.values:
#         if n[0] == m[0] or n[0] == m[1]:
#             list1.append(1)
#         else:
#             list1.append(0)
#     col[n[0]] = list1
#     print(len(col))
# df_comps = pd.DataFrame(col)

In [2]:
# guest = pd.DataFrame({'Polska': [1, 0, 0],
#                     'Niemcy': [0, 1, 1]})
# host = pd.DataFrame({'Polska': [0, 0, 1],
#                     'Belgia': [1, 1, 0],
#                      'Niemcy': [0, 0, 0]})
comps = pd.DataFrame({'host': ['polska', 'niemcy', 'belgia', 'francja', 'polska', 'polska', 'niemcy', 'estonia', 'walia'],
                     'guest': ['niemcy', 'belgia', 'polska', 'polska', 'belgia', 'niemcy', 'polska', 'walia', 'estonia']})
# comps1 = pd.DataFrame({'polska': [1, 0, 1, 1],
#                       'niemcy': [1, 1, 0, 0],
#                       'belgia': [0, 1, 1, 0],
#                       'francja': [0, 0, 0, 1]})

In [3]:
comps

      host    guest
0   polska   niemcy
1   niemcy   belgia
2   belgia   polska
3  francja   polska
4   polska   belgia
5   polska   niemcy
6   niemcy   polska
7  estonia    walia
8    walia  estonia

In [ ]:
# col = {}
# for n in comps['host'].unique():
#     list1 = []
#     if n in col.keys():
#         pass
#     else:
#         for m in comps.values:
#             if n in m:
#                 list1.append(1)
#             else:
#                 list1.append(0)
#         col[n] = list1
#         print(len(col))

In [4]:
x = pd.get_dummies(comps['host'])

In [5]:
y = pd.get_dummies(comps['guest'])

In [11]:
x.values

array([[0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1]], dtype=uint8)

In [13]:
s = y.values

In [ ]:
X = df[['host break mean', 'guest break mean']]
y = df['broken']

In [133]:
from sklearn.cross_validation import train_test_split

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [135]:
from sklearn.linear_model import LogisticRegression

In [136]:
logmodel = LogisticRegression()

In [137]:
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [138]:
predictions = logmodel.predict(X_test)

In [139]:
from sklearn.metrics import classification_report

In [140]:
print(classification_report(y_test, predictions))

             precision    recall  f1-score   support

          0       0.96      1.00      0.98    174534
          1       0.00      0.00      0.00      7987

avg / total       0.91      0.96      0.93    182521

/Users/arturkoszelow/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [141]:
from sklearn.metrics import confusion_matrix

In [142]:
confusion_matrix(y_test, predictions)

array([[174534,      0],
       [  7987,      0]])

In [116]:
191949+8824

200773